/**
 * plugins/generic/usageStats/css/usageStatsGraph.css
 *
 * Copyright (c) 2013-2019 Simon Fraser University
 * Copyright (c) 2003-2019 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Usage stats graph styles.
 */

#usageStatsGraphContainer li {
	list-style-type: none;
	padding-bottom: 5px;
	display: inline;
	float: left;
}

#usageStatsGraphContainer #statsYear {
	display: inline;
	float: right;
}
